/* &display=swap*/
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,600,700&display=swap);

/* Обнуляющий стиль */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
ol li,
ul li {
   list-style: none;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}
html,
body {
   height: 100%;
   font-size: 16px;
   line-height: 1.5;
}
input,
button,
textarea {
   font-family: inherit;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

/* -------------- */
:root {
   --header-height: 3rem;
   --font-semi: 600;

   //--first-color: #4070f4;
   //--second-color: #0e2431;

   /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
   /* HSL color mode */
   --hue-color: 355;
   --first-color: hsl(var(--hue-color), 89%, 60%);
   --second-color: hsl(var(--hue-color), 56%, 12%);

   --body-font: "Poppins", sans-serif;
   --big-font-size: 2rem;
   --h2-font-size: 1.25rem;
   --normal-font-size: 0.938rem;

   --md-1: 0.5rem;
   --md-2: 1rem;
   --md-3: 1.5rem;
   --md-4: 2rem;
   --md-5: 2.5rem;
   --md-6: 3rem;

   --z-back: -10;
   --z-norml: 1;
   --z-tooltip: 10;
   --z-fixed: 100;
}
@media screen and (min-width: 968px) {
   :root {
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
      --smaller-font-size: 0.875rem;
   }
}

/* -------------- */
html {
   scroll-behavior: smooth;
}
body {
   margin: var(--header-height) 0 0 0;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   color: var(--second-color);
}
img {
   max-width: 100%;
   display: block;
}

.section-title {
   position: relative;
   font-size: var(--h2-font-size);
   color: var(--first-color);
   margin-top: var(--md-2);
   margin-bottom: var(--md-4);
   text-align: center;
   font-weight: 700;
}
.section-title::after {
   content: "";
   position: absolute;
   width: 64px;
   height: 0.18rem;
   top: 2rem;
   left: 0;
   right: 0;
   margin: auto;
   background-color: var(--first-color);
}
.section {
   padding-top: 3rem;
   padding-bottom: 2rem;
}
.bd-grid {
   max-width: 1024px;
   display: grid;
   //grid-template-columns: 100%;
   //grid-column-gap: 2rem;
   //width: calc(100% - 2rem);
   margin-left: var(--md-2);
   margin-right: var(--md-2);
}
[class*="__container"] {
   row-gap: 2rem;
   text-align: center;
}
[class*="__subtitle"] {
   margin-bottom: var(--md-2);
   font-size: 1.5rem;
   font-weight: 700;
}
.active::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 0.18rem;
   left: 0;
   top: 2rem;
   background-color: var(--first-color);
}
.button {
   display: inline-block;
   background-color: var(--first-color);
   color: #fff;
   padding: 0.75rem 2.5rem;
   font-weight: var(--font-semi);
   border-radius: 0.5rem;
}
.button:hover {
   box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
//****************************
.l-header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: var(--z-fixed);
   background-color: #fff;
   box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
.nav {
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: var(--font-semi);
   // .nav__logo
   &__logo {
      color: var(--second-color);
   }
   // .nav__menu
   &__menu {
      @media (max-width: 768px) {
         position: fixed;
         top: var(--header-height);
         right: -100%;
         width: 80%;
         height: 100%;
         padding: 2rem;
         background-color: var(--second-color);
         transition: 0.5s;
      }
   }
   // .nav__list
   &__list {
   }
   // .nav__item
   &__item:not(:last-child) {
      margin-bottom: var(--md-4);
   }
   // .nav__link
   &__link {
      position: relative;
      color: #fff;
   }
   &__link:hover {
      position: relative;
   }
   &__link:hover::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.18rem;
      left: 0;
      top: 2rem;
      background-color: var(--first-color);
   }
   // .nav__toggle
   &__toggle {
      color: var(--second-color);
      font-size: 1.5rem;
      cursor: pointer;
   }
}

.show {
   right: 0;
}

.l-main {
}

.home {
   position: relative;
   row-gap: 5rem;
   padding: 4rem 0 5rem;
   // .home__data
   &__data {
      align-self: center;
   }
   // .home__title
   &__title {
      font-size: var(--big-font-size);
      margin-bottom: var(--md-5);
      font-weight: 700;
      line-height: 1.8;
   }
   // .home__title-color
   &__title-color {
      color: var(--first-color);
   }
   // .home__social
   &__social {
      display: flex;
      flex-direction: column;
   }
   // .home__social-ico
   &__social-ico {
      width: max-content;
      margin-bottom: var(--md-2);
      font-size: 1.5rem;
      color: var(--second-color);
   }
   &__social-ico:hover {
      color: var(--first-color);
   }
   // .home__img
   &__img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 260px;
      //height: 50%;
      //overflow: hidden;
      //border-radius: 72% 28% 55% 45% / 39% 35% 65% 61%;
   }
   // .home__blob
   &__blob {
      fill: var(--first-color);
   }
   // .home__blob-img
   &__blob-img {
      width: 360px;
   }
}

.about {
   // .about__container
   &__container {
   }
   // .about__img
   &__img {
      justify-self: center;
   }
   // .about__img
   &__img img {
      width: 200px;
      border-radius: 0.5rem;
   }
   // .about__subtitle
   &__subtitle {
      margin-bottom: var(--md-2);
      font-size: 1.5rem;
      font-weight: 700;
   }
   // .about__text
   &__text {
   }
}

.skills {
   // .skills__container
   &__container {
   }
   // .skills__subtitle
   &__subtitle {
   }
   // .skills__text
   &__text {
      margin-bottom: var(--md-4);
   }
   // .skills__data
   &__data {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: var(--font-semi);
      padding: 0.5rem 1rem;
      margin-bottom: var(--mb-4);
      border-radius: 0.5rem;
      box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
   }
   &__data:not(:last-child) {
      margin-bottom: var(--md-4);
   }
   // . skills__icon
   &__icon {
      font-size: 2rem;
      margin-right: var(--md-2);
      color: var(--first-color);
   }
   // .skills__names
   &__names {
      display: flex;
      align-items: center;
   }
   // .skills__name
   &__name {
   }
   // .skills__percentage
   &__percentage {
   }
   // .skills__bar
   &__bar {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: var(--first-color);
      height: 0.25rem;
      border-radius: 0.5rem;
      z-index: var(--z-back);
   }
   // .skills__html
   &__html {
      width: 95%;
   }
   // .skills__css
   &__css {
      width: 85%;
   }
   // .skills__js
   &__js {
      width: 65%;
   }
   // .skills__ux
   &__ux {
      width: 85%;
   }
   // .skills__images
   &__images {
      position: relative;
      padding-bottom: 66%;
   }
   // .skills__img
   &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      object-fit: cover;
   }
}

.work {
   text-align: center;
   // .work__container
   &__container {
   }
   // .work__img
   &__img {
      position: relative;
      box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
      border-radius: 0.5rem;
      overflow: hidden;
      padding-bottom: 66%;
      cursor: pointer;
   }
   &__img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 1s;
   }
   &__img img:hover {
      transform: scale(1.1);
   }
}

.contact {
   // .contact__container
   &__container {
   }
   // .contact__form
   &__form {
   }
   // .contact__input
   &__input {
      width: 100%;
      font-size: var(--normal-font-size);
      font-weight: var(--font-semi);
      padding: 1rem;
      border-radius: 0.5rem;
      border: 1.5px solid var(--second-color);
      outline: none;
      margin-bottom: var(--md-4);
   }
   // .contact__textarea
   &__textarea {
      resize: vertical;
   }
   // .contact__button
   &__button {
      display: block;
      outline: none;
      font-size: var(--normal-font-size);
      cursor: pointer;
      margin-left: auto;
   }
}

.footer {
   background-color: var(--second-color);
   color: #fff;
   text-align: center;
   font-weight: var(--font-semi);
   padding: 2rem 0;
   // .footer__title
   &__title {
      font-size: 2rem;
      margin-bottom: var(--md-4);
   }
   // .footer__social
   &__social {
      margin-bottom: var(--md-4);
   }
   // .footer__icon
   &__icon {
      font-size: 1.5rem;
      color: #fff;
      margin: 0 var(--md-2);
   }
   &__icon:hover {
      color: rgb(172, 175, 241);
   }
}

@media (min-width: 576px) {
   .home {
      padding: 4rem 0 2rem;
   }
   .home__img {
      width: 300px;
      bottom: 25%;
   }
   .skills__container {
      grid-template-columns: 0.7fr;
      justify-content: center;
      column-gap: 1rem;
   }
   .work__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      padding-top: 2rem;
   }
}

@media (min-width: 768px) {
   body {
      margin: 0;
   }
   .section {
      padding-top: 4rem;
      padding-bottom: 3rem;
   }
   .section-title {
      margin-bottom: var(--md-6);
   }
   .section-title::after {
      width: 80px;
      top: 3rem;
   }

   .nav {
      height: calc(var(--header-height) + 1rem);
      // .nav__logo
      &__logo {
      }
      // .nav__menu
      &__menu {
      }
      // .nav__list
      &__list {
         display: flex;
         padding-top: 0;
      }
      // .nav__item
      &__item:not(:last-child) {
         margin-right: var(--md-6);
         margin-bottom: 0;
      }
      // .nav__link
      &__link {
         color: var(--second-color);
      }
      // .nav__toggle
      &__toggle {
         display: none;
      }
   }

   .home {
      padding: 8rem 0 2rem;
      // .home__data
      &__data {
         //align-self: flex-end;
      }
      // .home__title
      &__title {
      }
      // .home__title-color
      &__title-color {
      }
      // .home__social
      &__social {
         padding-top: 0;
         padding-bottom: 2.5rem;
         flex-direction: row;
         align-self: flex-end;
      }
      // .home__social-ico
      &__social-ico:not(:last-child) {
         margin-right: var(--md-4);
      }
      &__social-ico {
         margin-bottom: 0;
      }
      // .home__img
      &__img {
         width: 400px;
         bottom: 10%;
      }
   }

   .about {
      // .about__container
      &__container {
         grid-template-columns: repeat(2, 1fr);
         align-items: center;
         text-align: initial;
      }
      // .about__img
      &__img img {
         width: 300px;
      }
   }

   .skills {
      // .skills__container
      &__container {
         grid-template-columns: repeat(2, 1fr);
         align-items: center;
         text-align: initial;
         column-gap: 2rem;
      }
   }

   .work {
      // .work__container
      &__container {
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(2, 1fr);
      }
   }
   .contact {
      // .contact__container
      &__container {
         justify-content: center;
      }
      // .contact__form
      &__form {
         width: 360px;
      }
   }
}

@media (min-width: 992px) {
   .home {
      padding: 10rem 0 2rem;
   }
   .bd-grid {
      margin-left: auto;
      margin-right: auto;
   }
   .home__img {
      width: 450px;
   }
}
